.background {
    position: absolute;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.detailsCard {
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.2s linear;
}

.detailsCard:last-child {
    margin-bottom: 5%;
}

.headings {
    font-weight: bold;
    color: teal;
}

.title {
    font-weight: bold;
    margin-left: 15%;
    margin-top: 3%;
    transition: 0.2s linear;
}

.detailsCard:hover {
    transform: scale(1.01);
}
