.patientCard {
    padding: 20px;
    border-radius: 5px;
    margin-left: 12%;
    margin-right: 15%;
}

.background {
    position: absolute;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
