.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.header * {
    font-size: 1em;
    margin-left: 1%;
    margin-right: 1%;
}

.shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.logo {
    font-size: 1.1em;
    color: rgb(31, 190, 169);
    font-weight: bold;
}
